<configuration>
  <property>
    <name>fs.default.name</name>
    <value>hdfs://{{master}}:50040/</value>
  </property>
  <property>
    <name>dfs.data.dir</name>
    <value>{{datapath}}</value>
  </property>
</configuration> 
