<configuration>
    <property>
        <name>fs.defaultFS</name>
        <value>hdfs://{{master}}:50040/</value>
    </property>
    <property>
        <name>io.file.buffer.size</name>
        <value>131072</value>
    </property>
</configuration>
