<configuration>
  <property>
    <name>fs.default.name</name>
    <value>hdfs://{{master}}:50040</value>
  </property>
  <property>
    <name>fs.defaultFS</name>
    <value>hdfs://{{master}}:50040</value>
  </property>
  <property>
    <name>dfs.namenode.name.dir</name>
    <value>file://{{namenode_path}}</value>
  </property>
  <property>
    <name>dfs.datanode.data.dir</name>
    <value>file://{{datanode_path}}</value>
  </property>
  <property>
     <name>dfs.replication</name>
     <value>{{replication_factor}}</value>
   </property>
</configuration> 
